{% extends "base.html" %}
{% block title %}Upload Brand Excel{% endblock %}

{% block content %}
<h2>Upload Brands from Excel</h2>
<p>
    <strong>Excel format required (columns):</strong> <br>
    <code>code</code> | <code>product_count</code> | <code>brand</code>
</p>
<form method="post" enctype="multipart/form-data">
     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="mb-3">
        <label for="excel_file" class="form-label">Select Excel File (.xls or .xlsx)</label>
        <input class="form-control" type="file" id="excel_file" name="excel_file" accept=".xls, .xlsx" required>
    </div>
    <button type="submit" class="btn btn-primary">Upload</button>
    <a href="{{ url_for('dashboard.admin_brand_manage') }}" class="btn btn-secondary">Back</a>
</form>
{% endblock %}
